* {
  margin: 0;
  padding: 0;
}
#head {
  /* border: 1px solid red; */
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: whitesmoke;
  align-items: center;
  position: fixed;
  overflow: hidden;
  z-index: 100;
}

#logo {
  height: 50px;
  margin-left: 70px;
}
nav {
  width: 70%;
}
nav > ul {
  display: flex;
  list-style-type: none;
  justify-content: space-around;
  cursor: pointer;
}
nav > ul :hover {
  background-color: hsl(35, 61%, 94%);
  box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset,
    rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}
nav > ul > li {
  padding: 5px 10px;
  /* border: 1px solid red; */
  border-radius: 5px;
}
#banner {
  /* border: 1px solid red; */
  text-align: center;
  height: 550px;
}
#banner img {
  height: 93%;
  width: 100%;
}

#container {
  /* border: 1px solid red; */
  height: auto;
  width: 80%;
  margin: auto;
  display: grid;
  text-align: center;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  margin-bottom: 50px;
}
.product-item {
  margin-top: 10px;
  height: auto;
  /* border: 1px solid black; */
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  /* box-sizing: border-box; */
  padding-bottom: 9%;
}
.product-item:hover {
  /* border: 0px solid gray; */
  box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset,
    rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  background-color: hsl(35, 61%, 94%);
}
.product-item > img {
  margin-top: 3%;
  /* height: 65%; */
  max-width: 80%;
}
.discription {
  margin-top: 3%;
}
.price {
  margin-top: 3%;
}
.button {
  margin-top: 4%;
  padding: 9px 25px;
  border-radius: 10px;
  border: none;
  background-color: hsl(35, 61%, 94%);
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  font-weight: bolder;
}
.button:hover {
  background-color: bisque;
}

footer {
  background-color: black;
  color: white;
  height: 60px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (min-width: 768px ) and (max-width: 1023px) {
  /* Styles for screens smaller than 768px */
  nav {
    display: block;
    visibility: hidden;
  }
  #head {
    /* border: 1px solid red; */
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: whitesmoke;
    align-items: center;
    position: fixed;
    overflow: hidden;
    z-index: 100;
  }
  #container {
    /* border: 1px solid red; */
    height: auto;
    width: 80%;
    margin: auto;
    display: grid;
    text-align: center;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    margin-bottom: 50px;
    box-sizing: border-box;
  }
  .product-item:hover {
    /* border: 0px solid gray; */
    box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset,
      rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
      rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    background-color: hsl(35, 61%, 94%);
  }
}

@media screen and (max-width: 767px) {
  /* Styles for screens smaller than 768px */
  /* mobile view */
  nav {
    display: block;
  }
  #head {
    text-align: center;
  }
  #container {
    /* border: 1px solid red; */
    height: auto;
    width: 80%;
    margin: auto;
    display: grid;
    text-align: center;
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
    margin-bottom: 50px;
    box-sizing: border-box;
  }
  .product-item:hover {
    /* border: 0px solid gray; */
    box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset,
      rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
      rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    background-color: hsl(35, 61%, 94%);
  }
}
